{{- if .Values.secrets.existingControlPlaneSecret }}
  {{- if or .Values.secrets.db .Values.secrets.cookiesSecret .Values.secrets.auth.oidc.providers }}
    {{- fail "Error: 'secrets.existingControlPlaneSecret' is set, but inline secret values (db.*, cookiesSecret, or auth.oidc.providers) are also provided. These inline values will be ignored. Please remove the inline values or unset 'existingControlPlaneSecret'." }}
  {{- end }}
{{- else }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "adaptive.controlPlane.secret.fullname" . }}
type: Opaque
data:
  dbUsername: {{ include "adaptive.db.username" . | b64enc }}
  dbPassword: {{ include "adaptive.db.password" . | b64enc }}
  dbHost: {{ include "adaptive.db.host" . | b64enc }}
  dbName: {{ include "adaptive.db.database" . | b64enc }}
  cookiesSecret: {{ required "A cookies secret is required!" .Values.secrets.cookiesSecret | b64enc }}
  oidcProviders: {{ include "adaptive.oidcProviders" . | b64enc }}
{{- end }}
