{{- if .Values.harmony.enabled }}
{{- $ports := include "adaptive.harmony.ports" . | fromJson }}
{{- $root := . }}
{{- range $index, $pool := .Values.harmony.computePools }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "adaptive.harmony.computePool.headlessService.fullname" (dict "root" $root "pool" $pool) }}
  namespace: {{ $root.Release.Namespace }}
  labels:
    {{- include "adaptive.labels" $root | nindent 4 }}
    {{- include "adaptive.harmony.computePool.selectorLabels" (dict "root" $root "pool" $pool) | nindent 4 }}
spec:
  clusterIP: None
  selector:
    {{- include "adaptive.harmony.computePool.selectorLabels" (dict "root" $root "pool" $pool) | nindent 4 }}
  ports:
    - name: {{ $ports.http.name }}
      port: {{ $ports.http.containerPort }}
      targetPort: {{ $ports.http.containerPort }}
    - name: {{ $ports.queue.name }}
      port: {{ $ports.queue.containerPort }}
      targetPort: {{ $ports.queue.containerPort }}
    - name: {{ $ports.torch.name }}
      port: {{ $ports.torch.containerPort }}
      targetPort: {{ $ports.torch.containerPort }}
{{- end }}
{{- end }}
