{{- if .Values.harmony.enabled }}
{{- $harmonySettings := include "adaptive.harmony.settings" . | fromJson }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "adaptive.harmony.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "adaptive.labels" . | nindent 4 }}
    {{- include "adaptive.harmony.selectorLabels" . | nindent 4 }}
spec:
  serviceName: {{ include "adaptive.harmony.headlessService.fullname" . }}
  replicas: {{ .Values.harmony.replicaCount | default 1 | int }}
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      {{- include "adaptive.harmony.selectorLabels" . | nindent 6}}
  template:
    metadata:
      {{- with .Values.harmony.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "adaptive.labels" . | nindent 8 }}
        {{- include "adaptive.harmony.selectorLabels" . | nindent 8 }}
        {{- with .Values.harmony.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.serviceAccount.name }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- end }}
      {{- if .Values.harmony.nodeSelector}}
      nodeSelector:
         {{- with .Values.harmony.nodeSelector}}
         {{ toYaml . }}
         {{- end}}
      {{- end}}
      {{- if .Values.harmony.tolerations}}
      tolerations:
        {{- toYaml .Values.harmony.tolerations | nindent 8 }}
      {{- end}}
      initContainers:
      - name: init-permissions
        image: busybox
        command: ['sh', '-c', 'chown -R  1002:1000 {{ $harmonySettings.working_dir }} {{ $harmonySettings.shared_master_worker_folder }} {{ $harmonySettings.any_path_config.cloud_cache }}']
        securityContext:
          runAsUser: 0
        volumeMounts:
          - name: workdir-volume
            mountPath: {{ $harmonySettings.working_dir }}
          - name: cloud-cache-volume
            mountPath: {{ $harmonySettings.any_path_config.cloud_cache }}
          # extra volume Mounts from values.yaml
          {{- with .Values.volumeMounts }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
      containers:
        - name: harmony
          image: "{{ include "adaptive.harmony.imageUri" . }}"
          imagePullPolicy: {{ .Values.harmony.image.pullPolicy }}
          {{- if .Values.harmony.securityContext }}
          securityContext:
            {{- toYaml .Values.harmony.securityContext | nindent 12 }}
          {{- end }}
          resources:
            limits:
              {{- toYaml .Values.harmony.resources.limits | nindent 14 }}
              {{- if .Values.harmony.gpusPerReplica}}
              nvidia.com/gpu: {{ .Values.harmony.gpusPerReplica }}
              {{- end}}
            requests:
              {{- toYaml .Values.harmony.resources.requests | nindent 14 }}
              {{- if .Values.harmony.gpusPerReplica}}
              nvidia.com/gpu: {{ .Values.harmony.gpusPerReplica }}
              {{- end}}
          ports:
            {{- $ports := include "adaptive.harmony.ports" . | fromJson }}
            - containerPort: {{ $ports.http.containerPort }}
              name: {{ $ports.http.name }}
            - containerPort: {{ $ports.queue.containerPort }}
              name: {{ $ports.queue.name }}
            - containerPort: {{ $ports.torch.containerPort }}
              name: {{ $ports.torch.name }}
          env:
            {{- include "adaptive.harmony.secretEnvVars" . | nindent 12 }}
            {{- include "adaptive.redis.secretEnvVars" . | nindent 12 }}
            - name: IMAGE_TAG
              value: {{ .Values.harmony.image.tag | quote }}
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: ORDINAL
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['apps.kubernetes.io/pod-index']
            - name: GPU_COUNT
              value: "{{ .Values.harmony.gpusPerReplica | default 1 }}"
            - name: MASTER_ADDR
              value: "{{ include "adaptive.harmony.fullname" . }}-0.{{ include "adaptive.harmony.headlessService.fullname" . }}"
            - name: MASTER_PORT
              value: "{{ $ports.torch.containerPort }}"
            - name: QUEUE_PORT
              value: "{{ $ports.queue.containerPort }}"
            - name: CONTROL_PLANE_URL
              value: "{{ include "adaptive.controlPlane.privateHttpEndpoint" . }}"
            - name: ENABLE_SANDBOX
              value: "1"
            - name: SANDBOX_SERVICE_URL
              value: "{{ include "adaptive.sandkasten.privateHttpEndpoint" . }}"
            - name: GROUP
              value: {{ .Values.harmony.group }}
            - name: GROUP_CAPABILITIES
              value: "TRAINING,INFERENCE,EVALUATION"
            - name: PARTITION_KEY
              value: {{ .Values.harmony.partitionKey }}
            - name: SERVICE_URL
              value: "{{ include "adaptive.harmony.httpEndpoint" . }}"
            - name: ADAPTIVE_LOGGING_LEVEL
              value: info
            - name: ADAPTIVE_MODE
              value: PROD
            - name: JOB_LOG_DIR
              value: "{{ $harmonySettings.working_dir }}/job_logs"
            {{- if .Values.mlflow.enabled }}
            - name: MLFLOW_TRACKING_URI
              value: "{{ include "adaptive.mlflow.trackingUrl" . }}"
            {{- if .Values.harmony.extraEnvVars }}
            {{- range $key, $value := .Values.harmony.extraEnvVars }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{- end }}
          volumeMounts:
            - name: workdir-volume
              mountPath: {{ $harmonySettings.working_dir }}
            - name: cloud-cache-volume
              mountPath: {{ $harmonySettings.any_path_config.cloud_cache }}
            - name: harmony-settings-volume
              mountPath: /opt/adaptive/harmony_settings/docker.json
              subPath: docker.json
            - name: dshm
              mountPath: /dev/shm
            # extra volume Mounts from values.yaml
            {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
        - name: job-log-exporter
          image: {{ .Values.alloy.imageUri }}
          imagePullPolicy: {{ .Values.alloy.image.pullPolicy }}
          ports:
            - containerPort: {{ $ports.alloy.containerPort }}
              name: {{ $ports.alloy.name }}
          args:
            - "run"
            - "--server.http.listen-addr=0.0.0.0:{{ $ports.alloy.containerPort }}"
            - "--storage.path=/var/lib/alloy/data"
            - "/etc/alloy/config.alloy"
          {{- if .Values.alloy.resources }}
          resources:
{{ toYaml .Values.alloy.resources | indent 12 }}
          {{- end }}
          volumeMounts:
            - name: workdir-volume
              mountPath: /workdir/
            - name: alloy-config
              mountPath: "/etc/alloy"
      volumes:
        - name: cloud-cache-volume
          emptyDir: {}
        - name: workdir-volume
          emptyDir: {}
        - name: harmony-settings-volume
          configMap:
            name: {{ include "adaptive.harmony.settingsConfigMap.fullname" . }}
        - name: alloy-config
          configMap:
            name: {{ include "adaptive.harmony.alloyConfigMap.fullname" . }}
        - name: dshm
          emptyDir:
            medium: Memory
            sizeLimit: {{ .Values.harmony.shmSize }}
        # extra volume Mounts from values.yaml
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
{{- end }}
{{- end }}
