{{- if .Values.otel_collector.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "adaptive.otelCollector.configMap.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "adaptive.labels" . | nindent 4 }}
    {{- include "adaptive.otelCollector.selectorLabels" . | nindent 4 }}
data:
  config.alloy: |
    logging {
      level  = "info"
      format = "logfmt"
    }
{{- if .Values.otel_collector.additional_config }}

{{ .Values.otel_collector.additional_config | nindent 4 }}
{{- end }}
{{- end }}
