{{- if .Values.redis.install.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "adaptive.redis.configMap.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "adaptive.labels" . | nindent 4 }}
    {{- include "adaptive.redis.selectorLabels" . | nindent 4 }}
data:
  # Allow access to all keys, channel and scripting but block
  # -@SHUTDOWN
  # -@admin: CONFIG, SAVE, BGSAVE, REPLICAOF, MODULE
  default.acl: |
    user default on nopass sanitize-payload ~* &* +@all -@admin -SHUTDOWN
{{- end }}
